div{
    width: 32px;
    height: 600px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    float: left;
}
img{
    width: 100%;
    height: 30%;
}
.parent{
    width: 550px;
    height: 300px;
    display: flex;
    background-color: blue;
align-items: center;
justify-content: space-around;

}
.col{
    background-color: chartreuse;
    width: 175px;
    height: 200px;
}


