.row{
    border: 5px solid black;
    background-color: violet;
    width: 400px;
    height: 300px;
    position: relative;
    
}

.row1{
    
}
.col1{
    border:1px solid black;
    background-color: rgb(227, 238, 130);
    width: 80px;
    height: 300px;
    position: absolute;
    top: 0px;
    left: 0px;
}
.col2{
    border:1px solid black;
    background-color: rgb(150, 130, 238);
    width: 80px;
    height: 300px;
position: relative;
    
}
.col3{
    border:1px solid black;
    background-color: rgb(238, 130, 153);
    width: 80px;
    height: 300px;
    position: relative;
    
    
}
.col4{
    border:1px solid black;
    background-color: rgb(227, 238, 130);
    width: 80px;
    height: 300px;
    position: relative;
}
.col5{
    border:1px solid black;
    background-color: rgb(227, 238, 130);
    width: 80px;
    height: 300px;
    position: relative;
  